@charset "ISO-8859-1";

 
 .ta:nth-child(odd) {
            background-color: #E6E6FA;
        }
        
 .th {
  background-color: #04AA6D;
  color: white;
}

.de{
	
	background: #00FF7F;
	text-decoration: blink;
    text-align: center;
    
}

.ta{
	padding:15px;
	text-align: center;
}

.ta1{
	
	color: white;
	background-color: #800080;
	
}

